h1{
    background-color:#F05589;
    color: saddlebrown;
    display: flex;
    justify-content: center;
    font-size:xx-large;
}


h2{
    background-color: #FFDA74;
    color: #F05513;
    display: flex;
    justify-content: center;
    font-size:x-large;
}


